## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [121]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [122]:
# Your code here

#sample_list_1 = [x for x in range(80) x = random.randint(0,100)]
population = range(0,100)
sample_list_1 = random.sample(population,80)
    
print(sample_list_1)
print("lengh", len(sample_list_1))

[10, 46, 63, 97, 6, 89, 21, 9, 50, 34, 32, 84, 38, 48, 52, 0, 26, 27, 22, 25, 39, 7, 94, 74, 29, 15, 80, 41, 28, 43, 99, 82, 47, 88, 19, 98, 45, 1, 64, 71, 40, 73, 20, 42, 96, 3, 60, 53, 17, 78, 65, 79, 85, 75, 54, 49, 92, 55, 2, 68, 56, 91, 23, 18, 81, 12, 57, 70, 87, 30, 66, 37, 8, 36, 35, 14, 76, 33, 16, 72]
lengh 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [123]:
# Your code here
"""set1 = set()

for x in sample_list_1:
    set1.add(x)
"""

set1 = set(sample_list_1)
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 88, 89, 91, 92, 94, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [124]:
# Your code here
sample_list_2 = []

for x in range(80):
    x = random.randint(0,100)
    sample_list_2.append(x)

print(sample_list_2)

[52, 49, 17, 1, 69, 73, 8, 77, 78, 63, 66, 16, 61, 99, 61, 28, 40, 82, 70, 76, 27, 4, 1, 41, 74, 14, 59, 70, 85, 66, 91, 72, 30, 10, 16, 57, 69, 3, 11, 92, 91, 83, 24, 74, 59, 13, 93, 38, 90, 67, 33, 57, 28, 72, 12, 47, 23, 50, 42, 56, 78, 44, 76, 81, 81, 82, 3, 100, 9, 4, 61, 1, 49, 99, 24, 60, 67, 84, 91, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [125]:
# Your code here
set2 = set()

for x in sample_list_2:
    set2.add(x)
    
print("lengh",len(set2))
print(set2)

lengh 54
{1, 3, 4, 8, 9, 10, 11, 12, 13, 14, 16, 17, 23, 24, 27, 28, 30, 33, 38, 40, 41, 42, 44, 47, 49, 50, 52, 56, 57, 59, 60, 61, 63, 66, 67, 69, 70, 72, 73, 74, 76, 77, 78, 81, 82, 83, 84, 85, 90, 91, 92, 93, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [126]:
set3 = set(set1 -set2)

#for x in set1 and set2:
#    set3.add(x)
    
print("lengh",len(set3))
print(set3)

lengh 40
{0, 2, 6, 7, 15, 18, 19, 20, 21, 22, 25, 26, 29, 32, 34, 35, 36, 37, 39, 43, 45, 46, 48, 53, 54, 55, 64, 65, 68, 71, 75, 79, 80, 87, 88, 89, 94, 96, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [127]:
# Your code here
set4 = set(set2 -set1)

print("lengh",len(set3))
print(set3)

lengh 40
{0, 2, 6, 7, 15, 18, 19, 20, 21, 22, 25, 26, 29, 32, 34, 35, 36, 37, 39, 43, 45, 46, 48, 53, 54, 55, 64, 65, 68, 71, 75, 79, 80, 87, 88, 89, 94, 96, 97, 98}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [128]:
# Your code here

set5 = set(x for x in set1 if x in set2)
print("set5 shared",set5)

set5 shared {1, 3, 8, 9, 10, 12, 14, 16, 17, 23, 27, 28, 30, 33, 38, 40, 41, 42, 47, 49, 50, 52, 56, 57, 60, 63, 66, 70, 72, 73, 74, 76, 78, 81, 82, 84, 85, 91, 92, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [129]:
# Your code here
realationship = [set1, set2, set3, set4, set5]
index = 0

for x in realationship:
    print("set",index+1,"compared to set1,2,3,4,5\nIf set",index+1,"is smaller than True")
    index += 1
    print(sum(x)<sum(set1))
    print(sum(x)<sum(set2))
    print(sum(x)<sum(set3))
    print(sum(x)<sum(set4))
    print(sum(x)<sum(set5))

set 1 compared to set1,2,3,4,5
If set 1 is smaller than True
False
False
False
False
False
set 2 compared to set1,2,3,4,5
If set 2 is smaller than True
True
False
False
False
False
set 3 compared to set1,2,3,4,5
If set 3 is smaller than True
True
True
False
False
True
set 4 compared to set1,2,3,4,5
If set 4 is smaller than True
True
True
True
False
True
set 5 compared to set1,2,3,4,5
If set 5 is smaller than True
True
True
False
False
False

#### Create an empty set called `set6`.

In [130]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [131]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 6, 7, 8, 9, 10, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 87, 88, 89, 91, 92, 94, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [132]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [133]:
# Your code here
print("set1 & set2",set1.issubset(set2))
print("set1 & set3",set1.issubset(set3))

set1 & set2 False
set1 & set3 False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [134]:
# Your code here

union1 = set3.union(set4, set5)
union2 = set1.union(set2)

print("Equal?:",union1 == union2)

Equal?: True

#### Using the `pop` method, remove the first element from `set1`.

In [146]:
# Your code here
print(set1)
set1.pop()
print(set1)

{16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 84, 85, 87, 88, 92, 94, 96, 97, 98}
{17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 84, 85, 87, 88, 92, 94, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [136]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1:
        set1.remove(x)
print(set1)

{2, 3, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 78, 80, 82, 84, 85, 87, 88, 92, 94, 96, 97, 98}