In [279]:
#Import tools 
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize
import requests                  
from bs4 import BeautifulSoup  
import urllib as uReq
import re                        
from datetime import datetime    
from time import mktime

In [257]:
#Get Info from API ###Hold Refreshrate as low as possible###
response = requests.get("https://financialmodelingprep.com/api/v3/financial-statement-growth/AAPL")
results = response.json()

In [258]:
#Make a useful DataFrame
results = results["growth"]
df_1 = pd.DataFrame(results)
colnames = [x for x in df_1.columns]
df_2 = df_1.transpose()
df_3 = df_2.rename(columns=df_2.iloc[33])
df_apple = df_3.drop("date", axis=0)
df_apple = df_apple.transpose()

In [259]:
#show the DataFrame
df_apple

,10Y Dividend per Share Growth (per Share),10Y Net Income Growth (per Share),10Y Operating CF Growth (per Share),10Y Revenue Growth (per Share),10Y Shareholders Equity Growth (per Share),3Y Dividend per Share Growth (per Share),3Y Net Income Growth (per Share),3Y Operating CF Growth (per Share),3Y Revenue Growth (per Share),3Y Shareholders Equity Growth (per Share),...,Gross Profit Growth,Inventory Growth,Net Income Growth,Operating Cash Flow growth,Operating Income Growth,R&D Expense Growth,Receivables growth,SG&A Expenses Growth,Weighted Average Shares Diluted Growth,Weighted Average Shares Growth
2018-09-29,0.0,0.2833,0.2595,0.2432,0.1959,0.1116,0.0898,0.0342,0.0968,0.0139,...,0.1548,-0.1852,0.2312,0.2057,0.1557,0.2293,0.3734,0.0946,-0.0479,-0.0502
2017-09-30,0.0,0.3199,0.2984,0.2689,0.2675,0.0984,0.126,0.0785,0.1352,0.1191,...,0.0466,1.2772,0.0583,-0.0303,0.022,0.1529,0.2176,0.0752,-0.0452,-0.0464
2016-09-24,0.0,0.3787,0.4152,0.2827,0.3008,0.102,0.1346,0.1348,0.1431,0.0712,...,-0.1,-0.0924,-0.1443,-0.185,-0.1573,0.2452,-0.0344,-0.0094,-0.0505,-0.0491
2015-09-26,0.0,0.4445,0.4121,0.3236,0.3179,0.7352,0.1332,0.2204,0.1931,0.0472,...,0.3273,0.1127,0.3514,0.3609,0.3567,0.3354,0.1148,0.1948,-0.0538,-0.0546
2014-09-27,0.0,0.6233,0.492,0.3415,0.3409,0.0,0.1746,0.1915,0.2154,0.1568,...,0.0969,0.1967,0.0668,0.1127,0.0715,0.3499,0.3187,0.1074,-0.0612,-0.0605
2013-09-28,0.0,0.8283,0.6447,0.3588,0.3671,0.0,0.3747,0.4156,0.3707,0.3646,...,-0.0635,1.2301,-0.1125,0.0553,-0.113,0.3236,0.1043,0.0787,-0.0145,-0.0101
2012-09-29,0.0,0.8567,0.8356,0.3539,0.3617,0.0,0.6917,0.6848,0.5161,0.5282,...,0.567,0.0193,0.6099,0.3551,0.6348,0.3919,0.5953,0.3212,0.0093,0.0114
2011-09-24,0.0,0.0,0.6525,0.3118,0.3076,0.0,0.5927,0.5509,0.4017,0.4854,...,0.706,-0.2617,0.8499,1.0182,0.8379,0.3631,0.1807,0.3774,0.0129,0.0163
2010-09-25,0.0,0.2896,0.3136,0.1928,0.2358,0.0,0.5621,0.4785,0.3613,0.4622,...,0.4913,1.3099,0.7016,0.8304,0.566,0.3368,0.9624,0.3297,0.0195,0.0184
2009-09-26,0.0,0.2428,0.23,0.1619,0.2065,0.0,0.5759,0.6294,0.2805,0.4415,...,0.305,-0.1061,0.3458,0.0587,0.4099,0.202,1.0879,0.1032,0.0054,0.013

In [395]:
df_cashflow = df_apple["Free Cash Flow growth"]
df_cashflow = df_cashflow.reset_index()
df_cashflow = df_cashflow.drop("index", axis=1)
Datenliste = [x for x in df_cashflow]
percentages = list()
"""
def percentage(Dataframe, Liste):
    percentages = list()
    for x in Dataframe:
        print(x)
        if len(str(percentages)) < 0.1:
            y = float(x)
        perc = x / y
        percentages = percentages.append(perc)
    Liste = percentages
    return percentages
    
percentage(df_cashflow, percentages)
"""
Datenliste

['Free Cash Flow growth']

In [53]:
#Web scraping get Information ###Hold Refreshrate as low as possible###
#url = "https://de.wikipedia.org/wiki/DAX"
#request = requests.get(url).content

In [172]:
#table = soup.find_all("table", {"class":"wikitable sortable"})
#rows = [row.text.strip().split("\n") for row in table]

#rows = rows[1]
#rows = str(rows)
#Names = str(re.findall("[A-Z]+[A-Z]+[A-Z]+", rows)) + str(re.findall("[A-Z]*[a-z]+", rows)) + str(re.findall("[A-Z]*[a-z]*[A-Z]*[a-z]*", rows)) + str(re.findall("[A-Z]*[a-z]*", rows))
#Names = [x for x in Names if len(x) != 0]
#Names = Names.split(",")
#Names
#rows = rows[]
#rows

In [177]:
#Web scraping get Information ###NEW BECAUSE THE OLD ONE IS SUUUUUUUUUPER MESSY########
url2 = "https://www.duden.de/sprachwissen/sprachratgeber/Die-langsten-Worter-im-Duden"
request2 = requests.get(url2).content

In [370]:
soup = BeautifulSoup(request2, "lxml")
Table = soup.find_all("figure",{"class":"sparse-table"})
rows = [row.text.strip().split("\n") for row in Table]
#zahlen = [re.findall("[0-9]+", str(rows))]
zahlen = [1,2,3,4,5,6,7,8,9,0]
rows = [row.split() for row in rows[0]]

#newlist = list()
#for word in rows:
#    for zahl in zahlen:
#        try:
#            row = str(letter).replace(str(zahl), "")
#            newlist.append(letter)      
#        finally: print()

In [371]:
Table = soup.table.tbody.text
Table = Table.split(".")
clear_words = list()
for word in Table:
    word = word.replace("1","")
    word = word.replace("2","")
    word = word.replace("3","")
    word = word.replace("4","")
    word = word.replace("5","")
    word = word.replace("6","")
    word = word.replace("7","")
    word = word.replace("8","")
    word = word.replace("9","")
    word = word.replace("0","")
    clear_words.append(word)

df_Wörter = pd.DataFrame(clear_words)
df_Wörter = df_Wörter.drop(0, axis=0)
df_Wörter

                                                0
1   Aufmerksamkeitsdefizit-Hyperaktivitätsstörung
2          Kraftfahrzeug-Haftpflichtversicherung
3             Donau-Dampfschifffahrtsgesellschaft
4               Arbeiterunfallversicherungsgesetz
5               Bundesausbildungsförderungsgesetz
6           Rhein-Main-Donau-Großschifffahrtsweg
7                Behindertengleichstellungsgesetz
8                Finanzdienstleistungsunternehmen
9                Finanzmarktstabilisierungsgesetz
10             Straßenverkehrs-Zulassungs-Ordnung

AttributeError: ResultSet object has no attribute 'content'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?