In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize
import requests                  
from bs4 import BeautifulSoup    
import re                        
from datetime import datetime    
from time import mktime

In [2]:
##variables
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"
token = "22990f9b4amsh4df04e987b36e1bp18331cjsn862ed02f8065"
day_begin = "01-01-2010"
day_end = "01-01-2019"
interval = "1d"

In [3]:
#START THE PROCESS
def start():
    Stockslist = list()
    Stocknames = list()
    End_of_Party = 0
    while End_of_Party == 0:
        input_stock = (input("Insert the Name of the Company to add stock, otherwise enter \"done\": "))
        input_stock = input_stock.upper()
        if input_stock == "DONE":
            End_of_Party += 1
        else:
            Stocknames.append(input_stock)
            input_stock = (input("Insert the SHORT NAME (Stockname) to add stock, otherwise enter \"done\": "))
            input_stock = input_stock.upper()
            if input_stock == "DONE":
                End_of_Party += 1
            else:
                Stockslist.append(input_stock)
            continue
        return Stocknames, Stockslist

In [4]:
#activate the load data function
def get_data_rollin(Stocknames, Shortnames):
    index = 0
    oop = {}
    for names in Shortnames:
        print(names)
        Stockname = Stocknames[index]
        index +=1
        oop[Stockname] = get_info(names)
    return oop
    
    
def get_info(Stock):
    Stock = load_csv_data(Stock, interval, day_begin, day_end)
    return Stock

In [5]:
def _get_crumbs_and_cookies(stock):
    
    url = 'https://finance.yahoo.com/quote/{}/history'.format(stock)
    with requests.session():
        header = {'Connection': 'keep-alive',
                   'Expires': '-1',
                   'Upgrade-Insecure-Requests': '1',
                   'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) \
                   AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36'
                   }
        
        website = requests.get(url, headers=header)
        soup = BeautifulSoup(website.text, 'lxml')
        crumb = re.findall('"CrumbStore":{"crumb":"(.+?)"}', str(soup))

        return (header, crumb[0], website.cookies)

In [6]:
def convert_to_unix(date):
    
    datum = datetime.strptime(date, '%d-%m-%Y')
    
    return int(mktime(datum.timetuple()))

In [7]:
def load_csv_data(stock, interval, day_begin, day_end):
  
    day_begin_unix = convert_to_unix(day_begin)
    day_end_unix = convert_to_unix(day_end)
    
    header, crumb, cookies = _get_crumbs_and_cookies(stock)
    
    with requests.session():
        url = 'https://query1.finance.yahoo.com/v7/finance/download/' \
              '{stock}?period1={day_begin}&period2={day_end}&interval={interval}&events=history&crumb={crumb}' \
              .format(stock=stock, day_begin=day_begin_unix, day_end=day_end_unix, interval=interval, crumb=crumb)
                
        website = requests.get(url, headers=header, cookies=cookies)
       
        return website.text.split('\n')[:-1]

In [8]:
def next_step(List_of_raws):
    List_col = ["Date","Open","High","Low","Close","Adj Close","Volume"]
    Amazon = list()
    for data in List_of_raws:
        for col in List_col:
            data.split(",")
            print("We've just received a shit ton of data from",data)

In [ ]:
#Separate the lists by commas
List_col = ["Date","Open","High","Low","Close","Adj Close","Volume"]
Amazon = list()
for day in Amazon_raw:
    day = day.split(",")
    Amazon.append(day)
    
Tencent = list()
for day in Tencent_raw:
    day = day.split(",")
    Tencent.append(day)
    
Alibaba = list()
for day in Alibaba_raw:
    day = day.split(",")
    Alibaba.append(day)
    
#get Dataframes.
df_amazon = pd.DataFrame(Amazon)
df_alibaba = pd.DataFrame(Alibaba)
df_tencent = pd.DataFrame(Tencent)

#first row to columnnames.
df_tencent = df_tencent.rename(columns=df.iloc[0])
df_amazon = df_amazon.rename(columns=df.iloc[0])
df_alibaba = df_alibaba.rename(columns=df.iloc[0])

#delete 1st row becaause those are the column names now. 
df_tencent = df_tencent.drop(0,axis=0)
df_amazon = df_amazon.drop(0, axis=0)
df_alibaba = df_alibaba.drop(0, axis=0)
#function to change column dtypes 
def change_to_numeric(Columns, Dataframe):
    for col in Columns:
        Dataframe[col] = pd.to_numeric(Dataframe[col])
Col_dtype_to_float = ["Open","High","Low","Close","Adj Close","Volume"]
#execute change of dtypes from columns
change_to_numeric(Col_dtype_to_float, df_tencent)
change_to_numeric(Col_dtype_to_float, df_alibaba)
change_to_numeric(Col_dtype_to_float, df_amazon)

In [ ]:
#change of column names except of Date:
x = {}
Col_dtype_to_float = ["Open","High","Low","Close","Adj Close","Volume"]
def changecolname(old_cols, Dataframe, NameofComp):
    for col in old_cols:
        x.update({col: NameofComp+col})
    Dataframe = Dataframe.rename(columns = x)
    return Dataframe
 
df_alibaba = changecolname(Col_dtype_to_float, df_alibaba, "Alibaba")
df_amazon = changecolname(Col_dtype_to_float, df_amazon, "Amazon")
df_tencent = changecolname(Col_dtype_to_float, df_tencent, "Tencent")

In [ ]:
#merge all Dataframes: 
df_ali_ama = df_alibaba.merge(df_amazon, how="inner", on="Date")
df_all = df_ali_ama.merge(df_tencent, how="inner", on="Date")

In [ ]:
N):
    empty = list()
    for x in Dataframe[Name + "Close"]:
        if len(empty) < 0.1:
            y = x
        perc = x / y
        empty.append(perc)
    Liste = empty
    return Liste

ama = percentage(df_all, ama, "Amazon")
ali = percentage(df_all, ali, "Alibaba")
ten = percentage(df_all, ten, "Tencent")

In [ ]:
df_close_all = df_all[["AlibabaClose","AmazonClose","TencentClose"]]
plt.plot(df_close_all)

In [9]:
Startprocess = start()
List_of_raws = get_data_rollin(Startprocess[0],Startprocess[1])
df = pd.DataFrame(List_of_raws)

Insert the Name of the Company to add stock, otherwise enter "done":  AmaZon
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  amzn
Insert the Name of the Company to add stock, otherwise enter "done":  apple
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  aapl
Insert the Name of the Company to add stock, otherwise enter "done":  done

AMZN
AAPL

In [10]:
def getting_data_seperated(List_of_raws):
    list2 = list()
    for x in List_of_raws.values():
        temp = list()
        for z in x:
            temp.append(z.split(","))
        list2.append(temp)
    list2 = creating_dfs(Startprocess[0], list2)
    return list2
#df2 = pd.DataFrame(list2)
#df2.transpose()

In [41]:
"""
def creating_dfs(Compnames, List):
    
    df_all = pd.DataFrame(List[0]).transpose()
    for i in range(1,len(Compnames)):
        df = pd.DataFrame(List[i]).transpose()
         
        df_all = df.merge(df_all, on="index")            
    return df_all
"""

'\ndef creating_dfs(Compnames, List):\n    \n    df_all = pd.DataFrame(List[0]).transpose()\n    for i in range(1,len(Compnames)):\n        df = pd.DataFrame(List[i]).transpose()\n         \n        df_all = df.merge(df_all, on="index")            \n    return df_all\n'

In [57]:

def creating_dfs(Compnames, List):
    df_all = pd.DataFrame(List[0])
    df_all = df_all.rename(columns=df_all.iloc[0])
    df_all = df_all.drop(0,axis=0)

    for i in range((len(Compnames)-1)):
        df = pd.DataFrame(List[i+1]) 
        df = df.rename(columns=df.iloc[0])
        df = df.drop(0,axis=0)
        df_all = pd.merge(df_all,df, on="Date") 
        
        
    return df_all

In [58]:
df_all = getting_data_seperated(List_of_raws)
#df_all = pd.DataFrame(df_all)
#df_all.transpose()
#Startprocess[0]
#List_of_raws.values()
df_all

(2265, 7)
            Date         Open         High          Low        Close  \
1     2009-12-31   137.089996   137.279999   134.520004   134.520004
2     2010-01-04   136.250000   136.610001   133.139999   133.899994
3     2010-01-05   133.429993   135.479996   131.809998   134.690002
4     2010-01-06   134.600006   134.729996   131.649994   132.250000
5     2010-01-07   132.009995   132.320007   128.800003   130.000000
6     2010-01-08   130.559998   133.679993   129.029999   133.520004
7     2010-01-11   132.619995   132.800003   129.210007   130.309998
8     2010-01-12   128.990005   129.820007   126.550003   127.349998
9     2010-01-13   127.900002   129.710007   125.750000   129.110001
10    2010-01-14   129.139999   130.380005   126.400002   127.349998
11    2010-01-15   129.179993   129.649994   127.059998   127.139999
12    2010-01-19   126.309998   128.000000   124.330002   127.610001
13    2010-01-20   127.129997   129.199997   125.080002   125.779999
14    2010-01-21   127.260002   128.149994   125.000000   126.620003
15    2010-01-22   125.599998   127.669998   120.760002   121.430000
16    2010-01-25   122.099998   122.279999   118.120003   120.309998
17    2010-01-26   120.559998   122.980003   119.059998   119.480003
18    2010-01-27   121.029999   123.330002   118.800003   122.750000
19    2010-01-28   124.430000   127.199997   122.800003   126.029999
20    2010-01-29   129.770004   131.850006   124.139999   125.410004
21    2010-02-01   123.180000   124.860001   113.820000   118.870003
22    2010-02-02   118.790001   118.980003   114.400002   118.120003
23    2010-02-03   117.120003   119.610001   116.559998   119.099998
24    2010-02-04   118.639999   120.330002   115.739998   115.940002
25    2010-02-05   115.879997   117.650002   114.099998   117.389999
26    2010-02-08   119.379997   121.000000   116.559998   116.830002
27    2010-02-09   118.199997   119.089996   117.000000   118.029999
28    2010-02-10   118.000000   118.610001   116.000000   117.360001
29    2010-02-11   117.209999   120.419998   116.500000   120.089996
30    2010-02-12   118.989998   119.940002   117.500000   119.660004
...          ...          ...          ...          ...          ...
2236  2018-11-15  1581.010010  1624.819946  1546.510010  1619.439941
2237  2018-11-16  1587.500000  1614.479980  1573.119995  1593.410034
2238  2018-11-19  1577.010010  1581.189941  1503.359985  1512.290039
2239  2018-11-20  1437.500000  1534.750000  1420.000000  1495.459961
2240  2018-11-21  1542.989990  1550.000000  1515.000000  1516.729980
2241  2018-11-23  1517.000000  1536.199951  1501.810059  1502.060059
2242  2018-11-26  1539.000000  1584.810059  1524.219971  1581.329956
2243  2018-11-27  1575.989990  1597.650024  1558.010010  1581.420044
2244  2018-11-28  1613.920044  1681.449951  1601.219971  1677.750000
2245  2018-11-29  1674.989990  1689.989990  1652.329956  1673.569946
2246  2018-11-30  1679.500000  1696.000000  1666.500000  1690.170044
2247  2018-12-03  1769.459961  1778.339966  1730.000000  1772.359985
2248  2018-12-04  1756.000000  1770.339966  1665.000000  1668.400024
2249  2018-12-06  1614.869995  1701.050049  1609.849976  1699.189941
2250  2018-12-07  1705.069946  1718.930054  1625.459961  1629.130005
2251  2018-12-10  1623.839966  1657.989990  1590.869995  1641.030029
2252  2018-12-11  1678.000000  1679.469971  1619.599976  1643.239990
2253  2018-12-12  1669.000000  1704.989990  1660.270020  1663.540039
2254  2018-12-13  1680.000000  1692.119995  1641.500000  1658.380005
2255  2018-12-14  1638.000000  1642.569946  1585.000000  1591.910034
2256  2018-12-17  1566.000000  1576.130005  1505.010010  1520.910034
2257  2018-12-18  1540.000000  1567.550049  1523.010010  1551.479980
2258  2018-12-19  1543.050049  1584.530029  1483.180054  1495.079956
2259  2018-12-20  1484.000000  1509.500000  1432.689941  1460.829956
2260  2018-12-21  1464.989990  1480.000000  1363.959961  1377.449951
2261  2018-12-24  1346.000000  1396.030029  1307.000000  1343.959961
2262  2018-12-26  1368.890015  1473.160034  1363.010010  1470.900024
2263  2018-12-27  1454.199951  1469.000000  1390.310059  1461.640015
2264  2018-12-28  1473.349976  1513.469971  1449.000000  1478.020020
2265  2018-12-31  1510.800049  1520.760010  1487.000000  1501.969971

        Adj Close    Volume
1      134.520004   4523000
2      133.899994   7599900
3      134.690002   8851900
4      132.250000   7178800
5      130.000000  11030200
6      133.520004   9830500
7      130.309998   8779400
8      127.349998   9096300
9      129.110001  10723200
10     127.349998   9774900
11     127.139999  15376500
12     127.610001   8892600
13     125.779999   9074700
14     126.620003   9970600
15     121.430000  11568900
16     120.309998  12023900
17     119.480003   9559000
18     122.750000  14765300
19     126.029999  27293100
20     125.410004  29471300
21     118.870003  37774400
22     118.120003  23079700
23     119.099998  12405900
24     115.940002  12784000
25     117.389999  11024800
26     116.830002   9890200
27     118.029999   9223000
28     117.360001   6233200
29     120.089996   8343500
30     119.660004   8073500
...           ...       ...
2236  1619.439941   8427300
2237  1593.410034   6066100
2238  1512.290039   7790000
2239  1495.459961  10878800
2240  1516.729980   5716800
2241  1502.060059   2707600
2242  1581.329956   6257700
2243  1581.420044   5783200
2244  1677.750000   8458700
2245  1673.569946   6613200
2246  1690.170044   5761800
2247  1772.359985   6862300
2248  1668.400024   8694500
2249  1699.189941   8789400
2250  1629.130005   7576100
2251  1641.030029   7494800
2252  1643.239990   6244700
2253  1663.540039   6598000
2254  1658.380005   5271300
2255  1591.910034   6367200
2256  1520.910034   8829800
2257  1551.479980   6523000
2258  1495.079956   8792200
2259  1460.829956   9991800
2260  1377.449951  13640300
2261  1343.959961   7220000
2262  1470.900024  10411800
2263  1461.640015   9722000
2264  1478.020020   8829000
2265  1501.969971   6954500

[2265 rows x 7 columns]
(2265, 7)
            Date        Open        High         Low       Close   Adj Close  \
1     2009-12-31   30.447144   30.478571   30.080000   30.104286   19.996618
2     2010-01-04   30.490000   30.642857   30.340000   30.572857   20.307869
3     2010-01-05   30.657143   30.798571   30.464285   30.625713   20.342979
4     2010-01-06   30.625713   30.747143   30.107143   30.138571   20.019398
5     2010-01-07   30.250000   30.285715   29.864286   30.082857   19.982389
6     2010-01-08   30.042856   30.285715   29.865715   30.282858   20.115240
7     2010-01-11   30.400000   30.428572   29.778572   30.015715   19.937790
8     2010-01-12   29.884285   29.967142   29.488571   29.674286   19.710993
9     2010-01-13   29.695715   30.132856   29.157143   30.092857   19.989031
10    2010-01-14   30.015715   30.065714   29.860001   29.918571   19.873259
11    2010-01-15   30.132856   30.228571   29.410000   29.418571   19.541140
12    2010-01-19   29.761429   30.741428   29.605715   30.719999   20.405605
13    2010-01-20   30.701429   30.792856   29.928572   30.247143   20.091518
14    2010-01-21   30.297142   30.472857   29.601429   29.724285   19.744209
15    2010-01-22   29.540001   29.642857   28.165714   28.250000   18.764919
16    2010-01-25   28.930000   29.242857   28.598572   29.010000   19.269749
17    2010-01-26   29.421429   30.530001   28.940001   29.420000   19.542088
18    2010-01-27   29.549999   30.082857   28.504286   29.697144   19.726181
19    2010-01-28   29.275715   29.357143   28.385714   28.469999   18.911057
20    2010-01-29   28.725714   28.885714   27.178572   27.437143   18.224987
21    2010-02-01   27.481428   28.000000   27.328571   27.818571   18.478348
22    2010-02-02   27.987143   28.045713   27.625713   27.980000   18.585581
23    2010-02-03   27.881428   28.600000   27.774286   28.461428   18.905357
24    2010-02-04   28.104286   28.338572   27.367144   27.435715   18.224039
25    2010-02-05   27.518572   28.000000   27.264286   27.922857   18.547623
26    2010-02-08   27.955715   28.268572   27.714285   27.731428   18.420462
27    2010-02-09   28.059999   28.214285   27.821428   28.027143   18.616892
28    2010-02-10   27.984285   28.085714   27.751429   27.874287   18.515354
29    2010-02-11   27.840000   28.535715   27.722857   28.381428   18.852224
30    2010-02-12   28.301428   28.805714   27.928572   28.625713   19.014488
...          ...         ...         ...         ...         ...         ...
2236  2018-11-15  188.389999  191.970001  186.899994  191.410004  189.861435
2237  2018-11-16  190.500000  194.970001  189.460007  193.529999  191.964279
2238  2018-11-19  190.000000  190.699997  184.990005  185.860001  184.356339
2239  2018-11-20  178.369995  181.470001  175.509995  176.979996  175.548157
2240  2018-11-21  179.729996  180.270004  176.550003  176.779999  175.349792
2241  2018-11-23  174.940002  176.600006  172.100006  172.289993  170.896118
2242  2018-11-26  174.240005  174.949997  170.259995  174.619995  173.207260
2243  2018-11-27  171.509995  174.770004  170.880005  174.240005  172.830338
2244  2018-11-28  176.729996  181.289993  174.929993  180.940002  179.476135
2245  2018-11-29  182.660004  182.800003  177.699997  179.550003  178.097382
2246  2018-11-30  180.289993  180.330002  177.029999  178.580002  177.135223
2247  2018-12-03  184.460007  184.940002  181.210007  184.820007  183.324753
2248  2018-12-04  180.949997  182.389999  176.270004  176.690002  175.260513
2249  2018-12-06  171.759995  174.779999  170.419998  174.720001  173.306473
2250  2018-12-07  173.490005  174.490005  168.300003  168.490005  167.126862
2251  2018-12-10  165.000000  170.089996  163.330002  169.600006  168.227890
2252  2018-12-11  171.660004  171.789993  167.000000  168.630005  167.265732
2253  2018-12-12  170.399994  171.919998  169.020004  169.100006  167.731934
2254  2018-12-13  170.490005  172.570007  169.550003  170.949997  169.566956
2255  2018-12-14  169.000000  169.080002  165.279999  165.479996  164.141220
2256  2018-12-17  165.449997  168.350006  162.729996  163.940002  162.613678
2257  2018-12-18  165.380005  167.529999  164.389999  166.070007  164.726440
2258  2018-12-19  166.000000  167.449997  159.089996  160.889999  159.588348
2259  2018-12-20  160.399994  162.110001  155.300003  156.830002  155.561188
2260  2018-12-21  156.860001  158.160004  149.630005  150.729996  149.510544
2261  2018-12-24  148.149994  151.550003  146.589996  146.830002  145.642090
2262  2018-12-26  148.300003  157.229996  146.720001  157.169998  155.898438
2263  2018-12-27  155.839996  156.770004  150.070007  156.149994  154.886688
2264  2018-12-28  157.500000  158.520004  154.550003  156.229996  154.966034
2265  2018-12-31  158.529999  159.360001  156.479996  157.740005  156.463837

         Volume
1      88102700
2     123432400
3     150476200
4     138040000
5     119282800
6     111902700
7     115557400
8     148614900
9     151473000
10    108223500
11    148516900
12    182501900
13    153038200
14    152038600
15    220441900
16    266424900
17    466777500
18    430642100
19    293375600
20    311488100
21    187469100
22    174585600
23    153832000
24    189413000
25    212576700
26    119567700
27    158221700
28     92590400
29    137586400
30    163867200
...         ...
2236   46478800
2237   36928300
2238   41925300
2239   67825200
2240   31124200
2241   23624000
2242   44998500
2243   41387400
2244   46062500
2245   41770000
2246   39531500
2247   40802500
2248   41344300
2249   43098400
2250   42281600
2251   62026000
2252   47281700
2253   35627700
2254   31898600
2255   40703700
2256   44287900
2257   33841500
2258   49047300
2259   64773000
2260   95744600
2261   37169200
2262   58582500
2263   53117100
2264   42291400
2265   35003500

[2265 rows x 7 columns]

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,2009-12-31,137.089996,137.279999,134.520004,134.520004,134.520004,4523000,30.447144,30.478571,30.080000,30.104286,19.996618,88102700
1,2010-01-04,136.250000,136.610001,133.139999,133.899994,133.899994,7599900,30.490000,30.642857,30.340000,30.572857,20.307869,123432400
2,2010-01-05,133.429993,135.479996,131.809998,134.690002,134.690002,8851900,30.657143,30.798571,30.464285,30.625713,20.342979,150476200
3,2010-01-06,134.600006,134.729996,131.649994,132.250000,132.250000,7178800,30.625713,30.747143,30.107143,30.138571,20.019398,138040000
4,2010-01-07,132.009995,132.320007,128.800003,130.000000,130.000000,11030200,30.250000,30.285715,29.864286,30.082857,19.982389,119282800
5,2010-01-08,130.559998,133.679993,129.029999,133.520004,133.520004,9830500,30.042856,30.285715,29.865715,30.282858,20.115240,111902700
6,2010-01-11,132.619995,132.800003,129.210007,130.309998,130.309998,8779400,30.400000,30.428572,29.778572,30.015715,19.937790,115557400
7,2010-01-12,128.990005,129.820007,126.550003,127.349998,127.349998,9096300,29.884285,29.967142,29.488571,29.674286,19.710993,148614900
8,2010-01-13,127.900002,129.710007,125.750000,129.110001,129.110001,10723200,29.695715,30.132856,29.157143,30.092857,19.989031,151473000
9,2010-01-14,129.139999,130.380005,126.400002,127.349998,127.349998,9774900,30.015715,30.065714,29.860001,29.918571,19.873259,108223500
10,2010-01-15,129.179993,129.649994,127.059998,127.139999,127.139999,15376500,30.132856,30.228571,29.410000,29.418571,19.541140,148516900
11,2010-01-19,126.309998,128.000000,124.330002,127.610001,127.610001,8892600,29.761429,30.741428,29.605715,30.719999,20.405605,182501900
12,2010-01-20,127.129997,129.199997,125.080002,125.779999,125.779999,9074700,30.701429,30.792856,29.928572,30.247143,20.091518,153038200
13,2010-01-21,127.260002,128.149994,125.000000,126.620003,126.620003,9970600,30.297142,30.472857,29.601429,29.724285,19.744209,152038600
14,2010-01-22,125.599998,127.669998,120.760002,121.430000,121.430000,11568900,29.540001,29.642857,28.165714,28.250000,18.764919,220441900
15,2010-01-25,122.099998,122.279999,118.120003,120.309998,120.309998,12023900,28.930000,29.242857,28.598572,29.010000,19.269749,266424900
16,2010-01-26,120.559998,122.980003,119.059998,119.480003,119.480003,9559000,29.421429,30.530001,28.940001,29.420000,19.542088,466777500
17,2010-01-27,121.029999,123.330002,118.800003,122.750000,122.750000,14765300,29.549999,30.082857,28.504286,29.697144,19.726181,430642100
18,2010-01-28,124.430000,127.199997,122.800003,126.029999,126.029999,27293100,29.275715,29.357143,28.385714,28.469999,18.911057,293375600
19,2010-01-29,129.770004,131.850006,124.139999,125.410004,125.410004,29471300,28.725714,28.885714,27.178572,27.437143,18.224987,311488100
20,2010-02-01,123.180000,124.860001,113.820000,118.870003,118.870003,37774400,27.481428,28.000000,27.328571,27.818571,18.478348,187469100
21,2010-02-02,118.790001,118.980003,114.400002,118.120003,118.120003,23079700,27.987143,28.045713,27.625713,27.980000,18.585581,174585600
22,2010-02-03,117.120003,119.610001,116.559998,119.099998,119.099998,12405900,27.881428,28.600000,27.774286,28.461428,18.905357,153832000
23,2010-02-04,118.639999,120.330002,115.739998,115.940002,115.940002,12784000,28.104286,28.338572,27.367144,27.435715,18.224039,189413000
24,2010-02-05,115.879997,117.650002,114.099998,117.389999,117.389999,11024800,27.518572,28.000000,27.264286,27.922857,18.547623,212576700
25,2010-02-08,119.379997,121.000000,116.559998,116.830002,116.830002,9890200,27.955715,28.268572,27.714285,27.731428,18.420462,119567700
26,2010-02-09,118.199997,119.089996,117.000000,118.029999,118.029999,9223000,28.059999,28.214285,27.821428,28.027143,18.616892,158221700
27,2010-02-10,118.000000,118.610001,116.000000,117.360001,117.360001,6233200,27.984285,28.085714,27.751429,27.874287,18.515354,92590400
28,2010-02-11,117.209999,120.419998,116.500000,120.089996,120.089996,8343500,27.840000,28.535715,27.722857,28.381428,18.852224,137586400
29,2010-02-12,118.989998,119.940002,117.500000,119.660004,119.660004,8073500,28.301428,28.805714,27.928572,28.625713,19.014488,163867200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2018-11-15,1581.010010,1624.819946,1546.510010,1619.439941,1619.439941,8427300,188.389999,191.970001,186.899994,191.410004,189.861435,46478800
2236,2018-11-16,1587.500000,1614.479980,1573.119995,1593.410034,1593.410034,6066100,190.500000,194.970001,189.460007,193.529999,191.964279,36928300
2237,2018-11-19,1577.010010,1581.189941,1503.359985,1512.290039,1512.290039,7790000,190.000000,190.699997,184.990005,185.860001,184.356339,41925300
2238,2018-11-20,1437.500000,1534.750000,1420.000000,1495.459961,1495.459961,10878800,178.369995,181.470001,175.509995,176.979996,175.548157,67825200
2239,2018-11-21,1542.989990,1550.000000,1515.000000,1516.729980,1516.729980,5716800,179.729996,180.270004,176.550003,176.779999,175.349792,31124200
2240,2018-11-23,1517.000000,1536.199951,1501.810059,1502.060059,1502.060059,2707600,174.940002,176.600006,172.100006,172.289993,170.896118,23624000
2241,2018-11-26,1539.000000,1584.810059,1524.219971,1581.329956,1581.329956,6257700,174.240005,174.949997,170.259995,174.619995,173.207260,44998500
2242,2018-11-27,1575.989990,1597.650024,1558.010010,1581.420044,1581.420044,5783200,171.509995,174.770004,170.880005,174.240005,172.830338,41387400
2243,2018-11-28,1613.920044,1681.449951,1601.219971,1677.750000,1677.750000,8458700,176.729996,181.289993,174.929993,180.940002,179.476135,46062500
2244,2018-11-29,1674.989990,1689.989990,1652.329956,1673.569946,1673.569946,6613200,182.660004,182.800003,177.699997,179.550003,178.097382,41770000
2245,2018-11-30,1679.500000,1696.000000,1666.500000,1690.170044,1690.170044,5761800,180.289993,180.330002,177.029999,178.580002,177.135223,39531500
2246,2018-12-03,1769.459961,1778.339966,1730.000000,1772.359985,1772.359985,6862300,184.460007,184.940002,181.210007,184.820007,183.324753,40802500
2247,2018-12-04,1756.000000,1770.339966,1665.000000,1668.400024,1668.400024,8694500,180.949997,182.389999,176.270004,176.690002,175.260513,41344300
2248,2018-12-06,1614.869995,1701.050049,1609.849976,1699.189941,1699.189941,8789400,171.759995,174.779999,170.419998,174.720001,173.306473,43098400
2249,2018-12-07,1705.069946,1718.930054,1625.459961,1629.130005,1629.130005,7576100,173.490005,174.490005,168.300003,168.490005,167.126862,42281600
2250,2018-12-10,1623.839966,1657.989990,1590.869995,1641.030029,1641.030029,7494800,165.000000,170.089996,163.330002,169.600006,168.227890,62026000
2251,2018-12-11,1678.000000,1679.469971,1619.599976,1643.239990,1643.239990,6244700,171.660004,171.789993,167.000000,168.630005,167.265732,47281700
2252,2018-12-12,1669.000000,1704.989990,1660.270020,1663.540039,1663.540039,6598000,170.399994,171.919998,169.020004,169.100006,167.731934,35627700
2253,2018-12-13,1680.000000,1692.119995,1641.500000,1658.380005,1658.380005,5271300,170.490005,172.570007,169.550003,170.949997,169.566956,31898600
2254,2018-12-14,1638.000000,1642.569946,1585.000000,1591.910034,1591.910034,6367200,169.000000,169.080002,165.279999,165.479996,164.141220,40703700
2255,2018-12-17,1566.000000,1576.130005,1505.010010,1520.910034,1520.910034,8829800,165.449997,168.350006,162.729996,163.940002,162.613678,44287900
2256,2018-12-18,1540.000000,1567.550049,1523.010010,1551.479980,1551.479980,6523000,165.380005,167.529999,164.389999,166.070007,164.726440,33841500
2257,2018-12-19,1543.050049,1584.530029,1483.180054,1495.079956,1495.079956,8792200,166.000000,167.449997,159.089996,160.889999,159.588348,49047300
2258,2018-12-20,1484.000000,1509.500000,1432.689941,1460.829956,1460.829956,9991800,160.399994,162.110001,155.300003,156.830002,155.561188,64773000
2259,2018-12-21,1464.989990,1480.000000,1363.959961,1377.449951,1377.449951,13640300,156.860001,158.160004,149.630005,150.729996,149.510544,95744600
2260,2018-12-24,1346.000000,1396.030029,1307.000000,1343.959961,1343.959961,7220000,148.149994,151.550003,146.589996,146.830002,145.642090,37169200
2261,2018-12-26,1368.890015,1473.160034,1363.010010,1470.900024,1470.900024,10411800,148.300003,157.229996,146.720001,157.169998,155.898438,58582500
2262,2018-12-27,1454.199951,1469.000000,1390.310059,1461.640015,1461.640015,9722000,155.839996,156.770004,150.070007,156.149994,154.886688,53117100
2263,2018-12-28,1473.349976,1513.469971,1449.000000,1478.020020,1478.020020,8829000,157.500000,158.520004,154.550003,156.229996,154.966034,42291400
2264,2018-12-31,1510.800049,1520.760010,1487.000000,1501.969971,1501.969971,6954500,158.529999,159.360001,156.479996,157.740005,156.463837,35003500

In [ ]:
#df2 = pd.DataFrame(list2[0])
#df3 = pd.DataFrame(list2[1])