In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize
import requests                  
from bs4 import BeautifulSoup    
import re                        
from datetime import datetime    
from time import mktime

In [2]:
##variables
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"
token = "22990f9b4amsh4df04e987b36e1bp18331cjsn862ed02f8065"
day_begin = "01-01-2010"
day_end = "01-01-2019"
interval = "1d"

In [3]:
#START THE PROCESS
def start():
    Stockslist = list()
    Stocknames = list()
    End_of_Party = 0
    while End_of_Party == 0:
        input_stock = (input("Insert the Name of the Company to add stock, otherwise enter \"done\": "))
        input_stock = input_stock.upper()
        if input_stock == "DONE":
            End_of_Party += 1
        else:
            Stocknames.append(input_stock)
            input_stock = (input("Insert the SHORT NAME (Stockname) to add stock, otherwise enter \"done\": "))
            input_stock = input_stock.upper()
            if input_stock == "DONE":
                End_of_Party += 1
            else:
                Stockslist.append(input_stock)
            continue
        return Stocknames, Stockslist

In [4]:
#activate the load data function
def get_data_rollin(Stocknames, Shortnames):
    index = 0
    oop = {}
    for names in Shortnames:
        print(names)
        Stockname = Stocknames[index]
        index +=1
        oop[Stockname] = get_info(names)
    return oop
    
    
def get_info(Stock):
    Stock = load_csv_data(Stock, interval, day_begin, day_end)
    return Stock

In [5]:
def _get_crumbs_and_cookies(stock):
    
    url = 'https://finance.yahoo.com/quote/{}/history'.format(stock)
    with requests.session():
        header = {'Connection': 'keep-alive',
                   'Expires': '-1',
                   'Upgrade-Insecure-Requests': '1',
                   'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) \
                   AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36'
                   }
        
        website = requests.get(url, headers=header)
        soup = BeautifulSoup(website.text, 'lxml')
        crumb = re.findall('"CrumbStore":{"crumb":"(.+?)"}', str(soup))

        return (header, crumb[0], website.cookies)

In [6]:
def convert_to_unix(date):
    
    datum = datetime.strptime(date, '%d-%m-%Y')
    
    return int(mktime(datum.timetuple()))

In [7]:
def load_csv_data(stock, interval, day_begin, day_end):
  
    day_begin_unix = convert_to_unix(day_begin)
    day_end_unix = convert_to_unix(day_end)
    
    header, crumb, cookies = _get_crumbs_and_cookies(stock)
    
    with requests.session():
        url = 'https://query1.finance.yahoo.com/v7/finance/download/' \
              '{stock}?period1={day_begin}&period2={day_end}&interval={interval}&events=history&crumb={crumb}' \
              .format(stock=stock, day_begin=day_begin_unix, day_end=day_end_unix, interval=interval, crumb=crumb)
                
        website = requests.get(url, headers=header, cookies=cookies)
       
        return website.text.split('\n')[:-1]

In [ ]:
def next_step(List_of_raws):
    List_col = ["Date","Open","High","Low","Close","Adj Close","Volume"]
    Amazon = list()
    for data in List_of_raws:
        for col in List_col:
            data.split(",")
            print("We've just received a shit ton of data from",data)

In [ ]:
#Separate the lists by commas
List_col = ["Date","Open","High","Low","Close","Adj Close","Volume"]
Amazon = list()
for day in Amazon_raw:
    day = day.split(",")
    Amazon.append(day)
    
Tencent = list()
for day in Tencent_raw:
    day = day.split(",")
    Tencent.append(day)
    
Alibaba = list()
for day in Alibaba_raw:
    day = day.split(",")
    Alibaba.append(day)
    
#get Dataframes.
df_amazon = pd.DataFrame(Amazon)
df_alibaba = pd.DataFrame(Alibaba)
df_tencent = pd.DataFrame(Tencent)

#first row to columnnames.
df_tencent = df_tencent.rename(columns=df.iloc[0])
df_amazon = df_amazon.rename(columns=df.iloc[0])
df_alibaba = df_alibaba.rename(columns=df.iloc[0])

#delete 1st row becaause those are the column names now. 
df_tencent = df_tencent.drop(0,axis=0)
df_amazon = df_amazon.drop(0, axis=0)
df_alibaba = df_alibaba.drop(0, axis=0)
#function to change column dtypes 
def change_to_numeric(Columns, Dataframe):
    for col in Columns:
        Dataframe[col] = pd.to_numeric(Dataframe[col])
Col_dtype_to_float = ["Open","High","Low","Close","Adj Close","Volume"]
#execute change of dtypes from columns
change_to_numeric(Col_dtype_to_float, df_tencent)
change_to_numeric(Col_dtype_to_float, df_alibaba)
change_to_numeric(Col_dtype_to_float, df_amazon)

In [ ]:
#change of column names except of Date:
x = {}
Col_dtype_to_float = ["Open","High","Low","Close","Adj Close","Volume"]
def changecolname(old_cols, Dataframe, NameofComp):
    for col in old_cols:
        x.update({col: NameofComp+col})
    Dataframe = Dataframe.rename(columns = x)
    return Dataframe
 
df_alibaba = changecolname(Col_dtype_to_float, df_alibaba, "Alibaba")
df_amazon = changecolname(Col_dtype_to_float, df_amazon, "Amazon")
df_tencent = changecolname(Col_dtype_to_float, df_tencent, "Tencent")

In [ ]:
N):
    empty = list()
    for x in Dataframe[Name + "Close"]:
        if len(empty) < 0.1:
            y = x
        perc = x / y
        empty.append(perc)
    Liste = empty
    return Liste

ama = percentage(df_all, ama, "Amazon")
ali = percentage(df_all, ali, "Alibaba")
ten = percentage(df_all, ten, "Tencent")

In [ ]:
df_close_all = df_all[["AlibabaClose","AmazonClose","TencentClose"]]
plt.plot(df_close_all)

In [ ]:
Startprocess = start()
List_of_raws = get_data_rollin(Startprocess[0],Startprocess[1])
df = pd.DataFrame(List_of_raws)

In [8]:
def getting_data_seperated(List_of_raws):
    list2 = list()
    for x in List_of_raws.values():
        temp = list()
        for z in x:
            temp.append(z.split(","))
        list2.append(temp)
    list2 = creating_dfs(Startprocess[0], list2)
    return list2
#df2 = pd.DataFrame(list2)
#df2.transpose()

In [9]:

def creating_dfs(Compnames, List):
    df_all = pd.DataFrame(List[0])
    df_all = df_all.rename(columns=df_all.iloc[0])
    df_all = df_all.drop(0,axis=0)

    for i in range((len(Compnames)-1)):
        df = pd.DataFrame(List[i+1]) 
        df = df.rename(columns=df.iloc[0])
        df = df.drop(0,axis=0)
        df_all = pd.merge(df_all,df, on="Date") 

    return df_all

In [10]:
Startprocess = start()
List_of_raws = get_data_rollin(Startprocess[0],Startprocess[1])
df = pd.DataFrame(List_of_raws)
df_all = getting_data_seperated(List_of_raws)
df_all

#SAP = SAP // APPLE = AAPL // AMAZON = AMZN // ADIDAS = ADDYY

Insert the Name of the Company to add stock, otherwise enter "done":  Apple
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  aapl
Insert the Name of the Company to add stock, otherwise enter "done":  sap
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  sap
Insert the Name of the Company to add stock, otherwise enter "done":  amazon
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  amzn
Insert the Name of the Company to add stock, otherwise enter "done":  adidas
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  addyy
Insert the Name of the Company to add stock, otherwise enter "done":  done

AAPL
SAP
AMZN
ADDYY

,Date,Open_x,High_x,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,...,Low_x,Close_x,Adj Close_x,Volume_x,Open_y,High_y,Low_y,Close_y,Adj Close_y,Volume_y
0,2009-12-31,30.447144,30.478571,30.080000,30.104286,19.996618,88102700,47.320000,47.450001,46.779999,...,134.520004,134.520004,134.520004,4523000,27.350000,27.350000,27.000000,27.150000,22.075317,3800
1,2010-01-04,30.490000,30.642857,30.340000,30.572857,20.307869,123432400,47.230000,47.630001,46.970001,...,133.139999,133.899994,133.899994,7599900,27.629999,27.950001,27.629999,27.750000,22.563169,3700
2,2010-01-05,30.657143,30.798571,30.464285,30.625713,20.342979,150476200,46.980000,47.240002,46.630001,...,131.809998,134.690002,134.690002,8851900,28.680000,28.750000,28.450001,28.500000,23.172985,6500
3,2010-01-06,30.625713,30.747143,30.107143,30.138571,20.019398,138040000,47.330002,48.009998,47.220001,...,131.649994,132.250000,132.250000,7178800,28.190001,28.480000,28.190001,28.450001,23.132332,5500
4,2010-01-07,30.250000,30.285715,29.864286,30.082857,19.982389,119282800,48.639999,49.340000,48.540001,...,128.800003,130.000000,130.000000,11030200,28.350000,28.600000,28.320000,28.600000,23.254292,4600
5,2010-01-08,30.042856,30.285715,29.865715,30.282858,20.115240,111902700,49.009998,49.750000,48.959999,...,129.029999,133.520004,133.520004,9830500,28.450001,28.650000,28.360001,28.650000,23.294949,6400
6,2010-01-11,30.400000,30.428572,29.778572,30.015715,19.937790,115557400,50.400002,50.750000,50.080002,...,129.210007,130.309998,130.309998,8779400,28.850000,29.059999,28.670000,29.059999,23.628313,27900
7,2010-01-12,29.884285,29.967142,29.488571,29.674286,19.710993,148614900,49.580002,49.939999,49.360001,...,126.550003,127.349998,127.349998,9096300,28.350000,28.350000,27.860001,28.100000,22.847750,3100
8,2010-01-13,29.695715,30.132856,29.157143,30.092857,19.989031,151473000,50.599998,50.650002,50.099998,...,125.750000,129.110001,129.110001,10723200,27.570000,27.900000,27.570000,27.850000,22.644484,10900
9,2010-01-14,30.015715,30.065714,29.860001,29.918571,19.873259,108223500,51.240002,51.250000,49.790001,...,126.400002,127.349998,127.349998,9774900,27.950001,28.230000,27.889999,28.219999,22.945320,6400
10,2010-01-15,30.132856,30.228571,29.410000,29.418571,19.541140,148516900,49.669998,49.689999,48.730000,...,127.059998,127.139999,127.139999,15376500,27.900000,28.030001,27.850000,27.950001,22.725788,5000
11,2010-01-19,29.761429,30.741428,29.605715,30.719999,20.405605,182501900,48.580002,49.259998,48.580002,...,124.330002,127.610001,127.610001,8892600,27.580000,27.900000,27.430000,27.809999,22.611956,25800
12,2010-01-20,30.701429,30.792856,29.928572,30.247143,20.091518,153038200,48.570000,48.630001,47.630001,...,125.080002,125.779999,125.779999,9074700,27.250000,27.250000,26.799999,27.040001,21.985878,3200
13,2010-01-21,30.297142,30.472857,29.601429,29.724285,19.744209,152038600,47.919998,48.020000,46.410000,...,125.000000,126.620003,126.620003,9970600,26.500000,26.500000,25.850000,26.100000,21.221579,10400
14,2010-01-22,29.540001,29.642857,28.165714,28.250000,18.764919,220441900,46.590000,46.900002,45.860001,...,120.760002,121.430000,121.430000,11568900,25.900000,26.049999,25.500000,25.500000,20.733725,27100
15,2010-01-25,28.930000,29.242857,28.598572,29.010000,19.269749,266424900,46.750000,46.830002,46.080002,...,118.120003,120.309998,120.309998,12023900,26.500000,26.500000,26.150000,26.350000,21.424847,6300
16,2010-01-26,29.421429,30.530001,28.940001,29.420000,19.542088,466777500,45.730000,46.520000,45.639999,...,119.059998,119.480003,119.480003,9559000,26.030001,26.240000,25.959999,25.959999,21.107744,5200
17,2010-01-27,29.549999,30.082857,28.504286,29.697144,19.726181,430642100,45.990002,46.250000,45.529999,...,118.800003,122.750000,122.750000,14765300,26.000000,26.100000,25.750000,26.100000,21.221579,4700
18,2010-01-28,29.275715,29.357143,28.385714,28.469999,18.911057,293375600,46.000000,46.020000,44.860001,...,122.800003,126.029999,126.029999,27293100,25.760000,25.950001,25.260000,25.500000,20.733725,3700
19,2010-01-29,28.725714,28.885714,27.178572,27.437143,18.224987,311488100,45.810001,46.490002,45.150002,...,124.139999,125.410004,125.410004,29471300,25.400000,25.780001,25.350000,25.480000,20.717463,5800
20,2010-02-01,27.481428,28.000000,27.328571,27.818571,18.478348,187469100,46.650002,46.900002,46.180000,...,113.820000,118.870003,118.870003,37774400,25.660000,25.889999,25.650000,25.709999,20.904472,4600
21,2010-02-02,27.987143,28.045713,27.625713,27.980000,18.585581,174585600,47.220001,47.369999,46.869999,...,114.400002,118.120003,118.120003,23079700,25.730000,25.980000,25.629999,25.969999,21.115873,10400
22,2010-02-03,27.881428,28.600000,27.774286,28.461428,18.905357,153832000,47.290001,47.630001,47.119999,...,116.559998,119.099998,119.099998,12405900,25.500000,25.500000,25.120001,25.400000,20.652412,10300
23,2010-02-04,28.104286,28.338572,27.367144,27.435715,18.224039,189413000,46.990002,47.070000,46.220001,...,115.739998,115.940002,115.940002,12784000,24.660000,24.660000,24.290001,24.450001,19.879982,12000
24,2010-02-05,27.518572,28.000000,27.264286,27.922857,18.547623,212576700,45.820000,46.049999,44.970001,...,114.099998,117.389999,117.389999,11024800,24.299999,24.299999,23.650000,24.219999,19.692972,16500
25,2010-02-08,27.955715,28.268572,27.714285,27.731428,18.420462,119567700,44.639999,44.849998,43.110001,...,116.559998,116.830002,116.830002,9890200,23.879999,24.100000,23.700001,23.950001,19.473436,11600
26,2010-02-09,28.059999,28.214285,27.821428,28.027143,18.616892,158221700,43.669998,44.090000,43.270000,...,117.000000,118.029999,118.029999,9223000,24.700001,24.799999,24.320000,24.650000,20.042597,18400
27,2010-02-10,27.984285,28.085714,27.751429,27.874287,18.515354,92590400,43.830002,43.939999,43.230000,...,116.000000,117.360001,117.360001,6233200,24.559999,24.690001,24.360001,24.500000,19.920637,49800
28,2010-02-11,27.840000,28.535715,27.722857,28.381428,18.852224,137586400,42.529999,42.939999,42.000000,...,116.500000,120.089996,120.089996,8343500,24.559999,24.900000,24.360001,24.860001,20.213346,21300
29,2010-02-12,28.301428,28.805714,27.928572,28.625713,19.014488,163867200,42.250000,43.049999,42.099998,...,117.500000,119.660004,119.660004,8073500,24.650000,24.799999,24.469999,24.680000,20.066992,12100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2018-11-15,188.389999,191.970001,186.899994,191.410004,189.861435,46478800,103.839996,106.089996,103.250000,...,1546.510010,1619.439941,1619.439941,8427300,116.540001,117.540001,115.320000,117.139999,115.588402,28900
2236,2018-11-16,190.500000,194.970001,189.460007,193.529999,191.964279,36928300,103.989998,105.300003,103.620003,...,1573.119995,1593.410034,1593.410034,6066100,115.739998,117.300003,115.739998,117.029999,115.479858,14200
2237,2018-11-19,190.000000,190.699997,184.990005,185.860001,184.356339,41925300,104.190002,104.269997,101.180000,...,1503.359985,1512.290039,1512.290039,7790000,115.830002,115.900002,114.269997,114.349998,112.835358,43200
2238,2018-11-20,178.369995,181.470001,175.509995,176.979996,175.548157,67825200,98.970001,101.000000,98.830002,...,1420.000000,1495.459961,1495.459961,10878800,112.070000,114.129997,112.070000,113.150002,111.651260,32500
2239,2018-11-21,179.729996,180.270004,176.550003,176.779999,175.349792,31124200,101.480003,102.239998,101.199997,...,1515.000000,1516.729980,1516.729980,5716800,115.000000,116.769997,115.000000,116.339996,114.798996,35000
2240,2018-11-23,174.940002,176.600006,172.100006,172.289993,170.896118,23624000,99.910004,101.589996,99.910004,...,1501.810059,1502.060059,1502.060059,2707600,113.940002,114.949997,113.849998,114.800003,113.279404,12400
2241,2018-11-26,174.240005,174.949997,170.259995,174.619995,173.207260,44998500,102.239998,102.769997,101.400002,...,1524.219971,1581.329956,1581.329956,6257700,113.870003,113.870003,112.510002,113.070000,111.572311,28500
2242,2018-11-27,171.509995,174.770004,170.880005,174.240005,172.830338,41387400,101.599998,102.410004,100.940002,...,1558.010010,1581.420044,1581.420044,5783200,112.820000,112.849998,112.220001,112.610001,111.118408,20100
2243,2018-11-28,176.729996,181.289993,174.929993,180.940002,179.476135,46062500,102.720001,105.089996,102.440002,...,1601.219971,1677.750000,1677.750000,8458700,112.110001,114.139999,112.000000,113.949997,112.440659,25800
2244,2018-11-29,182.660004,182.800003,177.699997,179.550003,178.097382,41770000,104.699997,104.980003,103.570000,...,1652.329956,1673.569946,1673.569946,6613200,113.180000,113.290001,112.339996,112.849998,111.355225,31100
2245,2018-11-30,180.289993,180.330002,177.029999,178.580002,177.135223,39531500,103.690002,103.879997,103.000000,...,1666.500000,1690.170044,1690.170044,5761800,110.040001,110.989998,109.550003,110.720001,109.253441,22200
2246,2018-12-03,184.460007,184.940002,181.210007,184.820007,183.324753,40802500,105.500000,105.580002,104.750000,...,1730.000000,1772.359985,1772.359985,6862300,112.690002,112.830002,112.150002,112.239998,110.753304,34700
2247,2018-12-04,180.949997,182.389999,176.270004,176.690002,175.260513,41344300,105.309998,105.449997,102.779999,...,1665.000000,1668.400024,1668.400024,8694500,113.199997,113.209999,110.529999,110.639999,109.174500,27100
2248,2018-12-06,171.759995,174.779999,170.419998,174.720001,173.306473,43098400,100.339996,101.720001,99.559998,...,1609.849976,1699.189941,1699.189941,8789400,110.080002,111.500000,109.570000,110.589996,109.125160,123900
2249,2018-12-07,173.490005,174.490005,168.300003,168.490005,167.126862,42281600,102.690002,103.220001,100.279999,...,1625.459961,1629.130005,1629.130005,7576100,113.010002,113.220001,110.620003,111.129997,109.658012,47300
2250,2018-12-10,165.000000,170.089996,163.330002,169.600006,168.227890,62026000,101.550003,102.379997,100.489998,...,1590.869995,1641.030029,1641.030029,7494800,110.680000,110.790001,109.180000,110.019997,108.562714,59400
2251,2018-12-11,171.660004,171.789993,167.000000,168.630005,167.265732,47281700,102.820000,102.900002,101.029999,...,1619.599976,1643.239990,1643.239990,6244700,112.120003,112.169998,111.190002,111.860001,110.378342,51100
2252,2018-12-12,170.399994,171.919998,169.020004,169.100006,167.731934,35627700,103.639999,104.269997,103.290001,...,1660.270020,1663.540039,1663.540039,6598000,112.949997,113.699997,112.809998,113.110001,111.611786,58600
2253,2018-12-13,170.490005,172.570007,169.550003,170.949997,169.566956,31898600,103.629997,104.050003,102.860001,...,1641.500000,1658.380005,1658.380005,5271300,113.570000,113.900002,113.139999,113.500000,111.996620,32800
2254,2018-12-14,169.000000,169.080002,165.279999,165.479996,164.141220,40703700,101.580002,102.080002,100.800003,...,1585.000000,1591.910034,1591.910034,6367200,110.779999,110.779999,109.750000,109.750000,108.296288,39800
2255,2018-12-17,165.449997,168.350006,162.729996,163.940002,162.613678,44287900,100.349998,100.879997,99.150002,...,1505.010010,1520.910034,1520.910034,8829800,106.790001,106.849998,104.879997,105.300003,103.905235,162500
2256,2018-12-18,165.380005,167.529999,164.389999,166.070007,164.726440,33841500,100.320000,100.570000,99.690002,...,1523.010010,1551.479980,1551.479980,6523000,107.050003,107.129997,105.480003,105.720001,104.319672,65400
2257,2018-12-19,166.000000,167.449997,159.089996,160.889999,159.588348,49047300,102.019997,102.260002,98.849998,...,1483.180054,1495.079956,1495.079956,8792200,106.559998,107.349998,104.919998,105.410004,104.013779,52500
2258,2018-12-20,160.399994,162.110001,155.300003,156.830002,155.561188,64773000,100.510002,101.000000,98.980003,...,1432.689941,1460.829956,1460.829956,9991800,105.139999,105.419998,104.089996,104.559998,103.175034,58400
2259,2018-12-21,156.860001,158.160004,149.630005,150.729996,149.510544,95744600,99.320000,99.459999,95.739998,...,1363.959961,1377.449951,1377.449951,13640300,105.190002,105.500000,103.739998,103.739998,102.365898,78400
2260,2018-12-24,148.149994,151.550003,146.589996,146.830002,145.642090,37169200,95.860001,96.930000,95.000000,...,1307.000000,1343.959961,1343.959961,7220000,104.099998,104.900002,102.949997,103.989998,102.612587,26000
2261,2018-12-26,148.300003,157.229996,146.720001,157.169998,155.898438,58582500,95.209999,98.480003,94.809998,...,1363.010010,1470.900024,1470.900024,10411800,103.000000,105.000000,101.980003,104.809998,103.421722,57900
2262,2018-12-27,155.839996,156.770004,150.070007,156.149994,154.886688,53117100,97.709999,99.059998,96.639999,...,1390.310059,1461.640015,1461.640015,9722000,102.599998,103.629997,101.480003,103.500000,102.129074,62200
2263,2018-12-28,157.500000,158.520004,154.550003,156.229996,154.966034,42291400,100.010002,100.209999,98.940002,...,1449.000000,1478.020020,1478.020020,8829000,104.550003,104.800003,103.900002,104.349998,102.967819,43500
2264,2018-12-31,158.529999,159.360001,156.479996,157.740005,156.463837,35003500,100.349998,100.510002,99.139999,...,1487.000000,1501.969971,1501.969971,6954500,104.599998,105.050003,104.190002,104.339996,102.957947,120000

In [ ]:
#df2 = pd.DataFrame(list2[0])
#df3 = pd.DataFrame(list2[1])