In [226]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize
import requests                  
from bs4 import BeautifulSoup    
import re                        
from datetime import datetime    
from time import mktime          
import math

In [227]:
##variables
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"
token = "22990f9b4amsh4df04e987b36e1bp18331cjsn862ed02f8065"
day_begin = "01-01-1987"
day_end = "01-01-2016"
interval = "1d"

In [228]:
#activate the load data function
def get_data_rollin(Stocknames, Shortnames):
    index = 0
    oop = {}
    for names in Shortnames:
        Stockname = Stocknames[index]
        index +=1
        oop[Stockname] = get_info(names)
    return oop
    
    
def get_info(Stock):
    Stock = load_csv_data(Stock, interval, day_begin, day_end)
    #if len(Stock) < 1000:
        #Stock = load_csv_data(Stock, interval, day_begin, day_end)
    return Stock

In [229]:
def _get_crumbs_and_cookies(stock):
    
    url = 'https://finance.yahoo.com/quote/{}/history'.format(stock)
    with requests.session():
        header = {'Connection': 'keep-alive',
                   'Expires': '-1',
                   'Upgrade-Insecure-Requests': '1',
                   'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) \
                   AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36'
                   }
        
        website = requests.get(url, headers=header)
        soup = BeautifulSoup(website.text, 'lxml')
        crumb = re.findall('"CrumbStore":{"crumb":"(.+?)"}', str(soup))

        return (header, crumb[0], website.cookies)

In [230]:
def convert_to_unix(date):
    
    datum = datetime.strptime(date, '%d-%m-%Y')
    
    return int(mktime(datum.timetuple()))

In [231]:
def load_csv_data(stock, interval, day_begin, day_end):
  
    day_begin_unix = convert_to_unix(day_begin)
    day_end_unix = convert_to_unix(day_end)
    
    header, crumb, cookies = _get_crumbs_and_cookies(stock)
    
    with requests.session():
        url = 'https://query1.finance.yahoo.com/v7/finance/download/' \
              '{stock}?period1={day_begin}&period2={day_end}&interval={interval}&events=history&crumb={crumb}' \
              .format(stock=stock, day_begin=day_begin_unix, day_end=day_end_unix, interval=interval, crumb=crumb)
                
        website = requests.get(url, headers=header, cookies=cookies)
        if len(website.text) < 1000:
            print("something with the data of",stock,"went wrong")
        else: print("mhm we've just received a shit ton of data from",stock)
        
        return website.text.split('\n')[:-1]

In [232]:
def delete_wrong_datasets(List_of_raws, compname):
    index = 0 
    companynames = list()
    for x in list(List_of_raws.values()):
        if len(List_of_raws[compname[index]]) < 500:
            #print(len(List_of_raws[compname[index]]))
            del List_of_raws[compname[index]]
            index += 1
        else:
            companynames.append(compname[index])
            index += 1
    return List_of_raws

In [233]:
def new_comp_names(List_of_raws, compnames):
    index = 0 
    updated_compnames = list()
    for x in List_of_raws:
        if x in compnames:
            updated_compnames.append(x)
    return updated_compnames

In [234]:
def getting_data_seperated(List_of_raws, compname):
    list2 = list()
    compnameindex = -1
    for x in List_of_raws.values():
        compnameindex += 1  
        temp = list()
        for z in x:
            temp.append(z.split(","))
            new_cols = ["Date"] 
        for name in temp[0]:
            if name != "Date":
                name = compname[compnameindex] + name
                new_cols.append(name)
        temp[0] = new_cols
        list2.append(temp)
        
    list2 = creating_dfs(Startprocess[0], list2)
    
    return list2
#df2 = pd.DataFrame(list2)
#df2.transpose()

In [235]:
def creating_dfs(Compnames, List):
    df_all = pd.DataFrame(List[0])
    df_all = df_all.rename(columns=df_all.iloc[0])
    df_all = df_all.drop(0,axis=0)
    index = 1 
    while index < len(List):
        df = pd.DataFrame(List[index]) 
        df = df.rename(columns=df.iloc[0])
        df = df.drop(0,axis=0)
        df_all = pd.merge(df_all,df, on="Date") 
        index += 1

    return df_all

In [236]:
#START THE PROCESS
def start():
    Stockslist = list()
    Stocknames = list()
    End_of_Party = 0
    inputquest = input("Do you want to insert a list or every company on its own \n list/single")
    if inputquest == "list":
        stocklistinsert = input("Paste your Stocklist :)")
        Stocklistinsert = stocklistinsert.split(" ")
        Stocklistraw = Stocklistinsert[1::2]
        Stocklist = list()
        for x in Stocklistraw:
            Stocklist.append(x.upper())
        Stocknamesraw = Stocklistinsert[::2]
        Stocknames = list()
        for x in Stocknamesraw:
            Stocknames.append(x.upper())
            
        return Stocknames, Stocklist
    
    while End_of_Party == 0:
        input_stock = (input("Insert the Name of the Company to add stock, otherwise enter \"done\": "))
        input_stock = input_stock.upper()
        if input_stock == "DONE":
            End_of_Party += 1
        else:
            Stocknames.append(input_stock)
            input_stock = (input("Insert the SHORT NAME (Stockname) to add stock, otherwise enter \"done\": "))
            input_stock = input_stock.upper()
            if input_stock == "DONE":
                End_of_Party += 1
            else:
                Stockslist.append(input_stock)
            continue
        print(Stocknames)
        print(Stockslist)
        return Stocknames, Stockslist

In [237]:
Startprocess = start()
List_of_raws = get_data_rollin(Startprocess[0],Startprocess[1])
List_of_raws = delete_wrong_datasets(List_of_raws, Startprocess[0])
New_compnamelist = new_comp_names(List_of_raws, Startprocess[0])
df_all = getting_data_seperated(List_of_raws, New_compnamelist)
df_all

#Software        //SAP = SAP // APPLE = AAPL // AMnAZON = AMZN // MICROSOFT = MSFT \n",
#Automobil      //BMW = BMW.DE // Volkswagen = VOW3.DE // Peugeot = PEU.F // Mitsubishi = MSBHY\n",
#Banks         //GOLDMAN = GS // JP MORGAN =JPM // DEUTSCHE BANK = DB // HSBC = HSBC\n",
#sonst        //STARBUCKS = SBUX // WALLMART = WMT // ADIDAS = ADS.DE // NIKE = NKE",
#INDEX       //DOW JONES = ^DJI // DAX30 = ^GDAXI // NIKKEI = ^N225 // 
#SAP', 'APPLE', 'AMAZON', 'MICROSOFT', 'BMW', 'VOLKSWAGEN', 'PEUGOT', 'MITSUBISHI', 'GOLDMAN', 'JPMORGAN', 'DEUTSCHE', 'DB', 'HSBC']
#['SAP', 'AAPL', 'AMZN', 'MSFT', 'BMW.DE', 'VOW3.DE', 'PEU.F', 'MSBHY', 'GS', 'JPM', 'BANK', 'HSBC']

#sap sap apple aapl amazon amzn microsoft msft bmw bmw.de volkswagen vow3.de peugot peu.f mitsubishi msbhy goldman gs JPMorgan jpm DEUTSCHE.BANK DB HSBC HSBC

Do you want to insert a list or every company on its own
 list/single d
Insert the Name of the Company to add stock, otherwise enter "done":  dax
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  ^gdaxi
Insert the Name of the Company to add stock, otherwise enter "done":  done

['DAX']
['^GDAXI']
mhm we've just received a shit ton of data from ^GDAXI

,Date,DAXOpen,DAXHigh,DAXLow,DAXClose,DAXAdj Close,DAXVolume
1,1987-12-30,1005.190002,1005.190002,1005.190002,1005.190002,1005.190002,0
2,1987-12-31,null,null,null,null,null,null
3,1988-01-01,null,null,null,null,null,null
4,1988-01-04,956.489990,956.489990,956.489990,956.489990,956.489990,0
5,1988-01-05,996.099976,996.099976,996.099976,996.099976,996.099976,0
6,1988-01-06,1006.010010,1006.010010,1006.010010,1006.010010,1006.010010,0
7,1988-01-07,1014.469971,1014.469971,1014.469971,1014.469971,1014.469971,0
8,1988-01-08,1026.689941,1026.689941,1026.689941,1026.689941,1026.689941,0
9,1988-01-11,987.520020,987.520020,987.520020,987.520020,987.520020,0
10,1988-01-12,986.890015,986.890015,986.890015,986.890015,986.890015,0
11,1988-01-13,965.770020,965.770020,965.770020,965.770020,965.770020,0
12,1988-01-14,974.460022,974.460022,974.460022,974.460022,974.460022,0
13,1988-01-15,952.460022,952.460022,952.460022,952.460022,952.460022,0
14,1988-01-18,1003.130005,1003.130005,1003.130005,1003.130005,1003.130005,0
15,1988-01-19,980.179993,980.179993,980.179993,980.179993,980.179993,0
16,1988-01-20,960.440002,960.440002,960.440002,960.440002,960.440002,0
17,1988-01-21,949.239990,949.239990,949.239990,949.239990,949.239990,0
18,1988-01-22,966.479980,966.479980,966.479980,966.479980,966.479980,0
19,1988-01-25,962.630005,962.630005,962.630005,962.630005,962.630005,0
20,1988-01-26,968.260010,968.260010,968.260010,968.260010,968.260010,0
21,1988-01-27,959.669983,959.669983,959.669983,959.669983,959.669983,0
22,1988-01-28,937.760010,937.760010,937.760010,937.760010,937.760010,0
23,1988-01-29,936.000000,936.000000,936.000000,936.000000,936.000000,0
24,1988-02-01,951.500000,951.500000,951.500000,951.500000,951.500000,0
25,1988-02-02,955.669983,955.669983,955.669983,955.669983,955.669983,0
26,1988-02-03,972.190002,972.190002,972.190002,972.190002,972.190002,0
27,1988-02-04,990.219971,990.219971,990.219971,990.219971,990.219971,0
28,1988-02-05,979.380005,979.380005,979.380005,979.380005,979.380005,0
29,1988-02-08,986.950012,986.950012,986.950012,986.950012,986.950012,0
30,1988-02-09,983.309998,983.309998,983.309998,983.309998,983.309998,0
...,...,...,...,...,...,...,...
7207,2015-11-18,10901.740234,10989.549805,10877.599609,10959.950195,10959.950195,0
7208,2015-11-19,11061.879883,11150.740234,11045.530273,11085.440430,11085.440430,0
7209,2015-11-20,11123.809570,11164.299805,11049.349609,11119.830078,11119.830078,0
7210,2015-11-23,11105.919922,11126.339844,11049.990234,11092.309570,11092.309570,0
7211,2015-11-24,11064.780273,11064.959961,10869.200195,10933.990234,10933.990234,0
7212,2015-11-25,10958.400391,11186.679688,10921.709961,11169.540039,11169.540039,0
7213,2015-11-26,11180.940430,11366.370117,11176.559570,11320.769531,11320.769531,0
7214,2015-11-27,11277.910156,11354.009766,11247.139648,11293.759766,11293.759766,0
7215,2015-11-30,11268.309570,11430.870117,11253.370117,11382.230469,11382.230469,0
7216,2015-12-01,11422.469727,11430.379883,11235.969727,11261.240234,11261.240234,0
7217,2015-12-02,11301.509766,11329.790039,11188.030273,11190.019531,11190.019531,0
7218,2015-12-03,11173.790039,11318.799805,10780.629883,10789.240234,10789.240234,0
7219,2015-12-04,10770.160156,10814.820313,10632.769531,10752.099609,10752.099609,0
7220,2015-12-07,10832.419922,10992.549805,10806.519531,10886.089844,10886.089844,0
7221,2015-12-08,10872.679688,10895.500000,10616.240234,10673.599609,10673.599609,0
7222,2015-12-09,10719.700195,10719.700195,10554.540039,10592.490234,10592.490234,0
7223,2015-12-10,10547.519531,10662.769531,10500.030273,10598.929688,10598.929688,0
7224,2015-12-11,10572.860352,10596.030273,10294.250000,10340.059570,10340.059570,0
7225,2015-12-14,10406.709961,10448.650391,10122.950195,10139.339844,10139.339844,0
7226,2015-12-15,10239.799805,10482.750000,10237.480469,10450.379883,10450.379883,0
7227,2015-12-16,10476.059570,10572.549805,10423.780273,10469.259766,10469.259766,0
7228,2015-12-17,10685.299805,10829.620117,10656.389648,10738.120117,10738.120117,0
7229,2015-12-18,10639.980469,10735.849609,10543.049805,10608.190430,10608.190430,0
7230,2015-12-21,10607.200195,10796.030273,10497.769531,10497.769531,10497.769531,0
7231,2015-12-22,10598.190430,10623.980469,10400.610352,10488.750000,10488.750000,0
7232,2015-12-23,10623.559570,10743.320313,10595.269531,10727.639648,10727.639648,0
7233,2015-12-25,null,null,null,null,null,null
7234,2015-12-28,10748.370117,10756.169922,10627.459961,10653.910156,10653.910156,0
7235,2015-12-29,10744.959961,10860.139648,10731.629883,10860.139648,10860.139648,0
7236,2015-12-30,10855.169922,10857.429688,10743.009766,10743.009766,10743.009766,0

In [275]:
test = df_all

In [276]:
import datetime
test['year'] = pd.DatetimeIndex(test['Date']).year
Indexe = "DAX"
test = test.get(test[Indexe+"Close"] != "null")
test[Indexe+"Close"] = test[Indexe+"Close"].astype(float)
#test.reset_index(inplace=True)
test = test.drop([Indexe+"Open",Indexe+"High",Indexe+"Low",Indexe+"Adj Close",Indexe+"Volume","Date"],axis=1)
test = test.groupby("year").agg(np.mean)

/Users/a1278/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [277]:
test

          DAXClose
year
1987   1005.190002
1988   1146.976414
1989   1467.301365
1990   1722.412865
1991   1579.507220
1992   1635.772786
1993   1809.457103
1994   2121.065286
1995   2138.497886
1996   2567.823405
1997   3720.754281
1998   5020.409605
1999   5344.412302
2000   7126.754241
2001   5614.582716
2002   4178.809998
2003   3191.468027
2004   3981.060552
2005   4677.842340
2006   5887.437435
2007   7463.186072
2008   6216.742870
2009   5018.078934
2010   6190.216721
2011   6590.982109
2012   6841.333639
2013   8298.115147
2014   9533.852923
2015  10961.502223

In [261]:
test = test.reset_index(inplace=True)
test

AttributeError: 'NoneType' object has no attribute 'reset_index'

In [278]:
test.to_csv("DAX.csv", index=True)