In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np
from pandas.io.json import json_normalize
import requests                  
from bs4 import BeautifulSoup    
import re                        
from datetime import datetime    
from time import mktime          
import math

In [2]:
##variables
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-summary"
token = "22990f9b4amsh4df04e987b36e1bp18331cjsn862ed02f8065"
day_begin = "01-01-1990"
day_end = "01-01-2019"
interval = "1d"

In [13]:
#activate the load data function
def get_data_rollin(Stocknames, Shortnames):
    index = 0
    oop = {}
    for names in Shortnames:
        Stockname = Stocknames[index]
        index +=1
        oop[Stockname] = get_info(names)
    return oop
    
    
def get_info(Stock):
    Stock = load_csv_data(Stock, interval, day_begin, day_end)
    if len(Stock) < 1000:
        Stock = load_csv_data(Stock, interval, day_begin, day_end)
    return Stock

In [4]:
def _get_crumbs_and_cookies(stock):
    
    url = 'https://finance.yahoo.com/quote/{}/history'.format(stock)
    with requests.session():
        header = {'Connection': 'keep-alive',
                   'Expires': '-1',
                   'Upgrade-Insecure-Requests': '1',
                   'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) \
                   AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36'
                   }
        
        website = requests.get(url, headers=header)
        soup = BeautifulSoup(website.text, 'lxml')
        crumb = re.findall('"CrumbStore":{"crumb":"(.+?)"}', str(soup))

        return (header, crumb[0], website.cookies)

In [5]:
def convert_to_unix(date):
    
    datum = datetime.strptime(date, '%d-%m-%Y')
    
    return int(mktime(datum.timetuple()))

In [6]:
def load_csv_data(stock, interval, day_begin, day_end):
  
    day_begin_unix = convert_to_unix(day_begin)
    day_end_unix = convert_to_unix(day_end)
    
    header, crumb, cookies = _get_crumbs_and_cookies(stock)
    
    with requests.session():
        url = 'https://query1.finance.yahoo.com/v7/finance/download/' \
              '{stock}?period1={day_begin}&period2={day_end}&interval={interval}&events=history&crumb={crumb}' \
              .format(stock=stock, day_begin=day_begin_unix, day_end=day_end_unix, interval=interval, crumb=crumb)
                
        website = requests.get(url, headers=header, cookies=cookies)
        if len(website.text) < 1000:
            print("something with the data of",stock,"went wrong")
        else: print("mhm we've just received a shit ton of data from",stock)
        
        return website.text.split('\n')[:-1]

In [7]:
def delete_wrong_datasets(List_of_raws, compname):
    index = 0 
    companynames = list()
    for x in list(List_of_raws.values()):
        if len(List_of_raws[compname[index]]) < 500:
            #print(len(List_of_raws[compname[index]]))
            del List_of_raws[compname[index]]
            index += 1
        else:
            companynames.append(compname[index])
            index += 1
    return List_of_raws

In [8]:
def new_comp_names(List_of_raws, compnames):
    index = 0 
    updated_compnames = list()
    for x in List_of_raws:
        if x in compnames:
            updated_compnames.append(x)
    return updated_compnames

In [9]:
def getting_data_seperated(List_of_raws, compname):
    list2 = list()
    compnameindex = -1
    for x in List_of_raws.values():
        compnameindex += 1  
        temp = list()
        for z in x:
            temp.append(z.split(","))
            new_cols = ["Date"] 
        for name in temp[0]:
            if name != "Date":
                name = compname[compnameindex] + name
                new_cols.append(name)
        temp[0] = new_cols
        list2.append(temp)
        
    list2 = creating_dfs(Startprocess[0], list2)
    
    return list2
#df2 = pd.DataFrame(list2)
#df2.transpose()

In [10]:
def creating_dfs(Compnames, List):
    df_all = pd.DataFrame(List[0])
    df_all = df_all.rename(columns=df_all.iloc[0])
    df_all = df_all.drop(0,axis=0)
    index = 1 
    while index < len(List):
        df = pd.DataFrame(List[index]) 
        df = df.rename(columns=df.iloc[0])
        df = df.drop(0,axis=0)
        df_all = pd.merge(df_all,df, on="Date") 
        index += 1

    return df_all

In [11]:
#START THE PROCESS
def start():
    Stockslist = list()
    Stocknames = list()
    End_of_Party = 0
    inputquest = input("Do you want to insert a list or every company on its own \n list/single")
    if inputquest == "list":
        stocklistinsert = input("Paste your Stocklist :)")
        Stocklistinsert = stocklistinsert.split(" ")
        Stocklistraw = Stocklistinsert[1::2]
        Stocklist = list()
        for x in Stocklistraw:
            Stocklist.append(x.upper())
        Stocknamesraw = Stocklistinsert[::2]
        Stocknames = list()
        for x in Stocknamesraw:
            Stocknames.append(x.upper())
            
        return Stocknames, Stocklist
    
    while End_of_Party == 0:
        input_stock = (input("Insert the Name of the Company to add stock, otherwise enter \"done\": "))
        input_stock = input_stock.upper()
        if input_stock == "DONE":
            End_of_Party += 1
        else:
            Stocknames.append(input_stock)
            input_stock = (input("Insert the SHORT NAME (Stockname) to add stock, otherwise enter \"done\": "))
            input_stock = input_stock.upper()
            if input_stock == "DONE":
                End_of_Party += 1
            else:
                Stockslist.append(input_stock)
            continue
        print(Stocknames)
        print(Stockslist)
        return Stocknames, Stockslist

In [17]:
Startprocess = start()
List_of_raws = get_data_rollin(Startprocess[0],Startprocess[1])
List_of_raws = delete_wrong_datasets(List_of_raws, Startprocess[0])
New_compnamelist = new_comp_names(List_of_raws, Startprocess[0])
df_all = getting_data_seperated(List_of_raws, New_compnamelist)
df_all

#Software        //SAP = SAP // APPLE = AAPL // AMAZON = AMZN // MICROSOFT = MSFT \n",
#Automobil      //BMW = BMW.DE // Volkswagen = VOW3.DE // Peugeot = PEU.F // Mitsubishi = MSBHY\n",
#Banks         //GOLDMAN = GS // JP MORGAN =JPM // DEUTSCHE BANK = DB // HSBC = HSBC\n",
#sonst        //STARBUCKS = SBUX // WALLMART = WMT // ADIDAS = ADS.DE // NIKE = NKE",
#INDEX       //DOW JONES = ^DJI // DAX30 = ^GDAXI // NIKKEI = ^N225 // 
#SAP', 'APPLE', 'AMAZON', 'MICROSOFT', 'BMW', 'VOLKSWAGEN', 'PEUGOT', 'MITSUBISHI', 'GOLDMAN', 'JPMORGAN', 'DEUTSCHE', 'DB', 'HSBC']
#['SAP', 'AAPL', 'AMZN', 'MSFT', 'BMW.DE', 'VOW3.DE', 'PEU.F', 'MSBHY', 'GS', 'JPM', 'BANK', 'HSBC']

#sap sap apple aapl amazon amzn microsoft msft bmw bmw.de volkswagen vow3.de peugot peu.f mitsubishi msbhy goldman gs JPMorgan jpm DEUTSCHE.BANK DB HSBC HSBC

Do you want to insert a list or every company on its own
 list/single single
Insert the Name of the Company to add stock, otherwise enter "done":  aapl
Insert the SHORT NAME (Stockname) to add stock, otherwise enter "done":  aapl
Insert the Name of the Company to add stock, otherwise enter "done":  done

['AAPL']
['AAPL']
mhm we've just received a shit ton of data from AAPL

,Date,AAPLOpen,AAPLHigh,AAPLLow,AAPLClose,AAPLAdj Close,AAPLVolume
1,1990-01-02,1.258929,1.339286,1.250000,1.330357,1.088798,45799600
2,1990-01-03,1.357143,1.357143,1.339286,1.339286,1.096105,51998800
3,1990-01-04,1.366071,1.383929,1.330357,1.343750,1.099759,55378400
4,1990-01-05,1.348214,1.366071,1.321429,1.348214,1.103412,30828000
5,1990-01-08,1.339286,1.357143,1.321429,1.357143,1.110720,25393200
6,1990-01-09,1.357143,1.357143,1.321429,1.343750,1.099759,21534800
7,1990-01-10,1.343750,1.343750,1.276786,1.285714,1.052261,49929600
8,1990-01-11,1.294643,1.294643,1.232143,1.232143,1.008417,52763200
9,1990-01-12,1.223214,1.241071,1.205357,1.232143,1.008417,42974400
10,1990-01-15,1.232143,1.276786,1.223214,1.223214,1.001109,40434800
11,1990-01-16,1.196429,1.250000,1.169643,1.245536,1.019378,53561200
12,1990-01-17,1.241071,1.241071,1.178571,1.187500,0.971880,49324800
13,1990-01-18,1.178571,1.196429,1.151786,1.156250,0.946304,68322800
14,1990-01-19,1.205357,1.232143,1.196429,1.223214,1.001109,66284400
15,1990-01-22,1.214286,1.232143,1.187500,1.187500,0.971880,36402800
16,1990-01-23,1.205357,1.223214,1.178571,1.205357,0.986494,35218400
17,1990-01-24,1.160714,1.223214,1.151786,1.214286,0.993802,42448000
18,1990-01-25,1.223214,1.241071,1.214286,1.218750,0.997456,27885200
19,1990-01-26,1.214286,1.214286,1.151786,1.169643,0.957265,45312400
20,1990-01-29,1.178571,1.196429,1.147321,1.187500,0.971880,29982400
21,1990-01-30,1.187500,1.232143,1.178571,1.214286,0.993802,29111600
22,1990-01-31,1.232143,1.241071,1.178571,1.214286,0.993802,35985600
23,1990-02-01,1.232143,1.236607,1.196429,1.200893,0.982841,29268400
24,1990-02-02,1.187500,1.241071,1.187500,1.223214,1.001109,29618400
25,1990-02-05,1.223214,1.258929,1.214286,1.250000,1.023031,25438000
26,1990-02-06,1.241071,1.250000,1.214286,1.241071,1.015724,18480000
27,1990-02-07,1.178571,1.214286,1.160714,1.187500,0.971880,78111600
28,1990-02-08,1.187500,1.196429,1.151786,1.178571,0.964572,46659200
29,1990-02-09,1.196429,1.232143,1.187500,1.223214,1.001109,42019600
30,1990-02-12,1.223214,1.232143,1.205357,1.214286,0.993802,18729200
...,...,...,...,...,...,...,...
7278,2018-11-15,188.389999,191.970001,186.899994,191.410004,189.861435,46478800
7279,2018-11-16,190.500000,194.970001,189.460007,193.529999,191.964279,36928300
7280,2018-11-19,190.000000,190.699997,184.990005,185.860001,184.356339,41925300
7281,2018-11-20,178.369995,181.470001,175.509995,176.979996,175.548157,67825200
7282,2018-11-21,179.729996,180.270004,176.550003,176.779999,175.349792,31124200
7283,2018-11-23,174.940002,176.600006,172.100006,172.289993,170.896118,23624000
7284,2018-11-26,174.240005,174.949997,170.259995,174.619995,173.207260,44998500
7285,2018-11-27,171.509995,174.770004,170.880005,174.240005,172.830338,41387400
7286,2018-11-28,176.729996,181.289993,174.929993,180.940002,179.476135,46062500
7287,2018-11-29,182.660004,182.800003,177.699997,179.550003,178.097382,41770000
7288,2018-11-30,180.289993,180.330002,177.029999,178.580002,177.135223,39531500
7289,2018-12-03,184.460007,184.940002,181.210007,184.820007,183.324753,40802500
7290,2018-12-04,180.949997,182.389999,176.270004,176.690002,175.260513,41344300
7291,2018-12-06,171.759995,174.779999,170.419998,174.720001,173.306473,43098400
7292,2018-12-07,173.490005,174.490005,168.300003,168.490005,167.126862,42281600
7293,2018-12-10,165.000000,170.089996,163.330002,169.600006,168.227890,62026000
7294,2018-12-11,171.660004,171.789993,167.000000,168.630005,167.265732,47281700
7295,2018-12-12,170.399994,171.919998,169.020004,169.100006,167.731934,35627700
7296,2018-12-13,170.490005,172.570007,169.550003,170.949997,169.566956,31898600
7297,2018-12-14,169.000000,169.080002,165.279999,165.479996,164.141220,40703700
7298,2018-12-17,165.449997,168.350006,162.729996,163.940002,162.613678,44287900
7299,2018-12-18,165.380005,167.529999,164.389999,166.070007,164.726440,33841500
7300,2018-12-19,166.000000,167.449997,159.089996,160.889999,159.588348,49047300
7301,2018-12-20,160.399994,162.110001,155.300003,156.830002,155.561188,64773000
7302,2018-12-21,156.860001,158.160004,149.630005,150.729996,149.510544,95744600
7303,2018-12-24,148.149994,151.550003,146.589996,146.830002,145.642090,37169200
7304,2018-12-26,148.300003,157.229996,146.720001,157.169998,155.898438,58582500
7305,2018-12-27,155.839996,156.770004,150.070007,156.149994,154.886688,53117100
7306,2018-12-28,157.500000,158.520004,154.550003,156.229996,154.966034,42291400
7307,2018-12-31,158.529999,159.360001,156.479996,157.740005,156.463837,35003500